*{
    margin: 0;
    padding: 0;
}
.mainLogin{
    width: 100%;
    height: 100vh;
    background: #303248;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .formLogin{
   width: 400px;
   background: #1d283570;
   padding-top: 20px;
   padding-bottom: 20px;
   text-align: center;  
 }
 .formLogin input {
    width: 95%;
    height: 50px;
    border: none;
    font-size: 20px;
    margin-bottom: 20px;
    outline: none;
 }
 
 .formLogin input[type="text"]{
     background: transparent;
     color: white;
     border-bottom: 1px solid #fff;
 }
 .formLogin input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: white;
   opacity: 1; /* Firefox */
 }
 
 .formLogin input[type="password"]{
   background: transparent;
   color: white;
   border-bottom: 1px solid #fff;
 }
 
 .formLogin input[type="password"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: white;
   opacity: 1; /* Firefox */
 }
 
 .formLogin input[type="submit"]{
   background: white;
   color: #303248;
   cursor: pointer;
 }
 .formLogin input[type="submit"]:hover{
    background: #303248;
    color: white;
    cursor: pointer;
  }
  